* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}

html {
    font-size: 62.5%;
    background-color: #F9F2ED;
}

/* ------- imagenes ------ */

img {
    max-inline-size: 100%;
    block-size: auto;
}

/* ------- header ------ */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: #DB1822;
}

h1 {
    font-size: 0px;
}

.logo {
    order: -1;
}

.logo img {
    width: 16rem;
}

nav ul {
    width: 50rem;
    list-style: none;
    display: flex;
    justify-content: space-around;
}


nav ul li a {
    text-decoration: none;
    color: #F9F2ED;
    font-weight: 600;

}

nav ul li a:hover {
    text-decoration: none;
    color: #303030;

}


/* ------- footer ------ */

footer {
    background-color: #DB1822;
}

.redes {
    padding: 2rem 0;
    margin-right: 10rem;
}

.redes a {
    font-size: 0;
    width: 3.25rem;
    height: 3.25rem;
    margin: 0 1rem;
}

.github {
    background: no-repeat url(../img/github.svg);
    background-size: 100%;
}

.instagram {
    background: no-repeat url(../img/instagram.svg);
    background-size: 100%;
}

/* ------- botones ------ */

.boton {
    text-decoration: none;
    color: #F9F2ED;
    display: inline-block;
    background-color: #DB1822;
    width: 200px;
    border: none;
    border-radius: 50px;
    padding: 15px;
    text-align: center;
    margin-top: 1em;
}

.nosotros-btn {
    display: block;
    background-color: #DB1822;
    width: 200px;
    border: none;
    border-radius: 50px;
    padding: 15px;
    text-align: center;
    margin-top: 1em;
    text-decoration: none;
    color: #F9F2ED;
    width: 100%;
    margin-top: 3em;
}

.boton:hover {
    background-color: #303030;
    color: #F9F2ED;
}

/* ------- inicio ------ */

.main {
    background: #DB1822;
    color: #F9F2ED;
}

.main figure {
    padding: 15rem 0;
}

.main figure img {
    width: 65rem;
}

.main div a {
    margin-bottom: 10rem;
    background-color: #F9F2ED;
    color: #303030;
}

.nosotros {
    padding: 6.15rem;
    background-color: #F9F2ED;
}

.nosotros h2 {
    font-size: 2em;
    margin: 1em;
    margin-left: 0;
}

.prof img {
    border-radius: 2rem;
}

/* ------- actividades ------ */

.fondo {
    background: url(../img/background.png);
    background-size: cover;
    color: #F9F2ED;
    font-weight: 600;
    border-bottom: #303030 solid 2.25rem;
    border-top: #303030 solid 2.25rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.fondo div {
    margin: 0;
}

.fondo div figure {
    margin: 10rem;
    margin-bottom: 0;
    padding: 0;
}

.foto {
    width: 500rem;
    max-width: 55%;
}

.ac_reverse {
    display: flex;
    flex-direction: row-reverse;
}

.actividades {
    display: flex;
    flex-direction: column;
    background-color: #30303094;
    margin: 0 30rem 0 10rem;

}


.actividades h2 {
    font-size: 3em;
    margin-top: 2em;
    margin-bottom: 2rem;
    margin-left: 4rem;
    max-width: 60%;
}

.actividades p,
.actividades div {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 2rem;
}

.actividades div {
    margin: 2rem;
    align-self: center;
}

.actividades div a {
    margin: .5rem;
    font-size: .8em;
}


/* ------- cronograma ------ */

#cronograma {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#cronograma h2 {
    font-size: 2em;
    margin-top: 2em;
    margin-bottom: 1em;
    align-self: flex-start;
    margin-left: 13%;
}

table {
    width: 73%;
    margin-top: .5em;
}

th,
td {
    padding: 1.2em;
}

th,
.td-time {
    background-color: #303030;
    color: #F9F2ED;
}

td {
    background-color: #DB1822;
    color: #F9F2ED;
}

#cronograma div a {
    margin-top: 2em;
    margin-bottom: 2em;
    width: 500px;
}

#ubicacion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#ubicacion h2 {
    font-size: 2em;
    margin: 2em;
    margin-left: 13%;
}

iframe {
    width: 100%;
    height: 50vh;
    margin-left: 13%;
    margin-right: 13%;
}

.direccion {
    margin: 1em;
    margin-left: 13%;
    margin-bottom: 10em;
}


/* ------- merch ------ */
.baner-merch {
    width: 50%;
}

.baner-merch h2 {
    margin-top: 3em;
    font-size: 3em;
    margin-left: 10rem;
}

.baner-merch p {
    font-size: .9em;
    margin-left: 10rem;
}

.baner-merch div {
    margin-bottom: 6em;
    margin-left: 10rem;
}

.baner-merch div {
    align-self: flex-start;
}

.baner-merch div figure {
    align-self: center;
}

.baner-merch div figure img {
    width: 100vw
}

.merch {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
    text-align: center;
    justify-items: center;
    align-items: center;
    margin: 10rem auto;
    max-width: 120rem;
}

.productos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 30rem;
    text-align: center;
}

.productos figure {
    text-align: center;
    grid-column: 1/ span 2;
}

.productos p {
    text-align: left;
    font-weight: 400;
}

.precio {
    text-align: right !important;
}

.foto_p {
    max-width: 300px;
    border-radius: .8rem;
    border: #3030301e solid 1px;
}

.venta {
    grid-column: 1/ span 3;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    font-weight: 600;
}

.venta p {
    font-size: 2rem;
}

/* ------- contacto ------ */

.contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3.5% 0;
}

.contacto h2 {
    font-size: 1.5em;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.contacto p {
    margin-bottom: 2rem;
    text-align: center;
}

.contacto,
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input,
textarea {
    border-radius: 4px;
    width: 100%;
    width: 100%;
    margin: 1em;
    border: 1px solid #303030;
    background-color: #fffcfa;

}

textarea {
    resize: none;
}

.input {
    height: 2em;
}