@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

img {
  max-width: 100%; }

.p, .tabla, .btn-download, .btn-extra, .btn-merch, .prod-p, .parrafo {
  font-size: 1.6em; }

.subtit {
  font-size: 2em; }

.tit, .en_merch, .encabezado {
  font-size: 2.5em; }

.bold, .tabla tbody tr .time, .prod-p {
  font-weight: bold; }

.btn, .btn-dark, .btn-red2, .nos-btn, .btn-download, .btn-input, .btn-red, .btn-extra, .btn-merch {
  padding: 1rem 2.5rem;
  text-decoration: none;
  border-radius: 5rem;
  background-color: #F9F2ED;
  color: #303030;
  transition: 00.4s; }

.btn:hover, .btn-dark:hover, .btn-red2:hover, .nos-btn:hover, .btn-download:hover, .btn-input:hover, .btn-red:hover, .btn-extra:hover, .btn-merch:hover {
  background-color: #303030;
  color: #F9F2ED; }

.btn-dark {
  background-color: #303030;
  color: #F9F2ED; }

.btn-dark:hover {
  background-color: #DB1822; }

.btn-red2, .nos-btn, .btn-download, .btn-input {
  background-color: #DB1822;
  color: #F9F2ED;
  border: none; }

.btn-red2:hover, .nos-btn:hover, .btn-download:hover, .btn-input:hover {
  background-color: #303030; }

.btn-red, .btn-extra, .btn-merch {
  background-color: #DB1822;
  color: #F9F2ED; }

.btn-red:hover, .btn-extra:hover, .btn-merch:hover {
  background-color: #F9F2ED;
  color: #303030; }

body {
  background-color: #303030; }
  body .contenedor {
    width: 100%;
    max-width: 1200px;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    background-color: #F9F2ED;
    margin: auto;
    box-shadow: -1px -2px 33px -3px rgba(0, 0, 0, 0.57); }
    body .contenedor .row, body .contenedor .hero, body .contenedor .nosotros {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: -1.2rem;
      margin-right: -1.2rem; }
      body .contenedor .row .col, body .contenedor .hero .col, body .contenedor .nosotros .col {
        flex: 1 0 0; }
      body .contenedor .row .col-1, body .contenedor .hero .col-1, body .contenedor .nosotros .col-1 {
        width: 8.33333%;
        padding-left: 1.2rem;
        padding-right: 1.2rem; }
      body .contenedor .row .col-2, body .contenedor .hero .col-2, body .contenedor .nosotros .col-2 {
        width: 16.66667%;
        padding-left: 1.2rem;
        padding-right: 1.2rem; }
      body .contenedor .row .col-3, body .contenedor .hero .col-3, body .contenedor .nosotros .col-3 {
        width: 25%;
        padding-left: 1.2rem;
        padding-right: 1.2rem; }
      body .contenedor .row .col-4, body .contenedor .hero .col-4, body .contenedor .nosotros .col-4 {
        width: 33.33333%;
        padding-left: 1.2rem;
        padding-right: 1.2rem; }
      body .contenedor .row .col-5, body .contenedor .hero .col-5, body .contenedor .nosotros .col-5 {
        width: 41.66667%;
        padding-left: 1.2rem;
        padding-right: 1.2rem; }
      body .contenedor .row .col-6, body .contenedor .hero .col-6, body .contenedor .nosotros .col-6 {
        width: 50%;
        padding-left: 1.2rem;
        padding-right: 1.2rem; }
      body .contenedor .row .col-7, body .contenedor .hero .col-7, body .contenedor .nosotros .col-7 {
        width: 58.33333%;
        padding-left: 1.2rem;
        padding-right: 1.2rem; }
      body .contenedor .row .col-8, body .contenedor .hero .col-8, body .contenedor .nosotros .col-8 {
        width: 66.66667%;
        padding-left: 1.2rem;
        padding-right: 1.2rem; }
      body .contenedor .row .col-9, body .contenedor .hero .col-9, body .contenedor .nosotros .col-9 {
        width: 75%;
        padding-left: 1.2rem;
        padding-right: 1.2rem; }
      body .contenedor .row .col-10, body .contenedor .hero .col-10, body .contenedor .nosotros .col-10 {
        width: 83.33333%;
        padding-left: 1.2rem;
        padding-right: 1.2rem; }
      body .contenedor .row .col-11, body .contenedor .hero .col-11, body .contenedor .nosotros .col-11 {
        width: 91.66667%;
        padding-left: 1.2rem;
        padding-right: 1.2rem; }
      body .contenedor .row .col-12, body .contenedor .hero .col-12, body .contenedor .nosotros .col-12, body .contenedor .row .tabla, body .contenedor .hero .tabla, body .contenedor .nosotros .tabla {
        width: 100%;
        padding-left: 1.2rem;
        padding-right: 1.2rem; }

.mg-top, .encabezado {
  margin-top: 1.2rem; }

.mg-bot, .parrafo {
  margin-bottom: 1.2rem; }

@media screen and (min-width: 768px) {
  .row .col-tablet, body .contenedor .hero .col-tablet, body .contenedor .nosotros .col-tablet {
    flex: 1 0 0; }
  .row .col-1-tablet, body .contenedor .hero .col-1-tablet, body .contenedor .nosotros .col-1-tablet {
    width: 8.33333%;
    padding-left: 1.2rem;
    padding-right: 1.2rem; }
  .row .col-2-tablet, body .contenedor .hero .col-2-tablet, body .contenedor .nosotros .col-2-tablet {
    width: 16.66667%;
    padding-left: 1.2rem;
    padding-right: 1.2rem; }
  .row .col-3-tablet, body .contenedor .hero .col-3-tablet, body .contenedor .nosotros .col-3-tablet {
    width: 25%;
    padding-left: 1.2rem;
    padding-right: 1.2rem; }
  .row .col-4-tablet, body .contenedor .hero .col-4-tablet, body .contenedor .nosotros .col-4-tablet {
    width: 33.33333%;
    padding-left: 1.2rem;
    padding-right: 1.2rem; }
  .row .col-5-tablet, body .contenedor .hero .col-5-tablet, body .contenedor .nosotros .col-5-tablet {
    width: 41.66667%;
    padding-left: 1.2rem;
    padding-right: 1.2rem; }
  .row .col-6-tablet, body .contenedor .hero .col-6-tablet, body .contenedor .nosotros .col-6-tablet, .contenedor .row .actividades, body .contenedor .hero .actividades, body .contenedor .nosotros .actividades {
    width: 50%;
    padding-left: 1.2rem;
    padding-right: 1.2rem; }
  .row .col-7-tablet, body .contenedor .hero .col-7-tablet, body .contenedor .nosotros .col-7-tablet {
    width: 58.33333%;
    padding-left: 1.2rem;
    padding-right: 1.2rem; }
  .row .col-8-tablet, body .contenedor .hero .col-8-tablet, body .contenedor .nosotros .col-8-tablet {
    width: 66.66667%;
    padding-left: 1.2rem;
    padding-right: 1.2rem; }
  .row .col-9-tablet, body .contenedor .hero .col-9-tablet, body .contenedor .nosotros .col-9-tablet {
    width: 75%;
    padding-left: 1.2rem;
    padding-right: 1.2rem; }
  .row .col-10-tablet, body .contenedor .hero .col-10-tablet, body .contenedor .nosotros .col-10-tablet {
    width: 83.33333%;
    padding-left: 1.2rem;
    padding-right: 1.2rem; }
  .row .col-11-tablet, body .contenedor .hero .col-11-tablet, body .contenedor .nosotros .col-11-tablet {
    width: 91.66667%;
    padding-left: 1.2rem;
    padding-right: 1.2rem; }
  .row .col-12-tablet, body .contenedor .hero .col-12-tablet, body .contenedor .nosotros .col-12-tablet {
    width: 100%;
    padding-left: 1.2rem;
    padding-right: 1.2rem; } }

@media screen and (min-width: 1200px) {
  .row .col-desktop, body .contenedor .hero .col-desktop, body .contenedor .nosotros .col-desktop {
    flex: 1 0 0; }
  .row .col-1-desktop, body .contenedor .hero .col-1-desktop, body .contenedor .nosotros .col-1-desktop {
    width: 8.33333%;
    padding-left: 1.2rem;
    padding-right: 1.2rem; }
  .row .col-2-desktop, body .contenedor .hero .col-2-desktop, body .contenedor .nosotros .col-2-desktop {
    width: 16.66667%;
    padding-left: 1.2rem;
    padding-right: 1.2rem; }
  .row .col-3-desktop, body .contenedor .hero .col-3-desktop, body .contenedor .nosotros .col-3-desktop {
    width: 25%;
    padding-left: 1.2rem;
    padding-right: 1.2rem; }
  .row .col-4-desktop, body .contenedor .hero .col-4-desktop, body .contenedor .nosotros .col-4-desktop {
    width: 33.33333%;
    padding-left: 1.2rem;
    padding-right: 1.2rem; }
  .row .col-5-desktop, body .contenedor .hero .col-5-desktop, body .contenedor .nosotros .col-5-desktop {
    width: 41.66667%;
    padding-left: 1.2rem;
    padding-right: 1.2rem; }
  .row .col-6-desktop, body .contenedor .hero .col-6-desktop, body .contenedor .nosotros .col-6-desktop {
    width: 50%;
    padding-left: 1.2rem;
    padding-right: 1.2rem; }
  .row .col-7-desktop, body .contenedor .hero .col-7-desktop, body .contenedor .nosotros .col-7-desktop {
    width: 58.33333%;
    padding-left: 1.2rem;
    padding-right: 1.2rem; }
  .row .col-8-desktop, body .contenedor .hero .col-8-desktop, body .contenedor .nosotros .col-8-desktop {
    width: 66.66667%;
    padding-left: 1.2rem;
    padding-right: 1.2rem; }
  .row .col-9-desktop, body .contenedor .hero .col-9-desktop, body .contenedor .nosotros .col-9-desktop {
    width: 75%;
    padding-left: 1.2rem;
    padding-right: 1.2rem; }
  .row .col-10-desktop, body .contenedor .hero .col-10-desktop, body .contenedor .nosotros .col-10-desktop {
    width: 83.33333%;
    padding-left: 1.2rem;
    padding-right: 1.2rem; }
  .row .col-11-desktop, body .contenedor .hero .col-11-desktop, body .contenedor .nosotros .col-11-desktop {
    width: 91.66667%;
    padding-left: 1.2rem;
    padding-right: 1.2rem; }
  .row .col-12-desktop, body .contenedor .hero .col-12-desktop, body .contenedor .nosotros .col-12-desktop {
    width: 100%;
    padding-left: 1.2rem;
    padding-right: 1.2rem; } }

h1 {
  font-size: 0; }

header {
  box-shadow: -1px -2px 33px -3px rgba(0, 0, 0, 0.57);
  position: sticky;
  top: 0; }
  header div {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center; }
    header div .logo {
      background-color: #DB1822;
      width: 100%;
      padding: 1.5rem; }
      header div .logo img {
        height: 3rem; }
    header div nav {
      width: 100%;
      height: 0; }
      header div nav .toggle-menu {
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 40px;
        height: 40px;
        cursor: pointer;
        filter: invert(1);
        z-index: 1; }
        header div nav .toggle-menu img {
          width: 30px;
          margin: auto;
          margin-top: 5px; }
        header div nav .toggle-menu__checkbox {
          display: none; }
      header div nav .main-menu {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.3s;
        transform: translateY(-140%);
        background-color: #303030; }
        header div nav .main-menu li {
          padding: 2rem;
          border-bottom: 1px solid black;
          width: 100%;
          text-align: center; }
          header div nav .main-menu li .nav-link {
            text-decoration: none;
            color: #F9F2ED;
            font-size: 1.6em;
            font-weight: 400;
            margin-left: 2rem; }
          header div nav .main-menu li :hover {
            color: #303030; }

.toggle-menu__checkbox:checked + .main-menu {
  transform: translateY(0); }

@media screen and (min-width: 768px) {
  header {
    background-color: #DB1822; }
    header div {
      margin: auto;
      display: flex;
      flex-direction: row;
      padding: 1rem;
      justify-content: space-between;
      align-items: flex-start; }
      header div .logo {
        width: 30%;
        padding: 0rem; }
        header div .logo img {
          height: 4rem; }
      header div nav {
        width: 60%; }
        header div nav .toggle-menu {
          display: none; }
        header div nav .main-menu {
          list-style: none;
          flex-direction: row;
          justify-content: flex-end;
          margin-top: 1rem;
          background-color: transparent;
          transform: translateY(0); }
          header div nav .main-menu li {
            border: none;
            padding: 0; }
            header div nav .main-menu li .nav-link {
              text-decoration: none;
              color: #F9F2ED;
              font-size: 1.6em;
              font-weight: 400;
              transition: 0.3s; }
            header div nav .main-menu li :hover {
              color: #303030; } }

@media screen and (min-width: 1200px) {
  header div {
    padding: 1rem 0;
    max-width: 1200px; }
    header div nav {
      width: 60%;
      height: 2rem; }
      header div nav .main-menu li {
        align-items: flex-end;
        width: auto; } }

footer {
  background-color: #DB1822;
  box-shadow: -1px -2px 33px -3px rgba(0, 0, 0, 0.57); }
  footer .redes {
    display: flex;
    flex-direction: row-reverse;
    padding: 2rem 0;
    margin-right: 10rem;
    max-width: 1200px;
    margin: auto; }
    footer .redes .red1, footer .redes .red2 {
      font-size: 0;
      width: 3.25rem;
      height: 3.25rem;
      margin: 0 1rem;
      background: no-repeat url(../img/github.svg);
      background-size: 100%; }
    footer .redes .red2 {
      background: no-repeat url(../img/instagram.svg); }

body .contenedor .hero {
  background-color: #DB1822; }
  body .contenedor .hero .col-12, body .contenedor .hero .tabla {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center; }
    body .contenedor .hero .col-12 .logo, body .contenedor .hero .tabla .logo {
      width: 50rem;
      padding: 5rem; }

body .contenedor .nosotros {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  padding-bottom: 4rem; }
  body .contenedor .nosotros h2 {
    margin-top: 5rem;
    margin-bottom: 2rem; }
  body .contenedor .nosotros h3 {
    margin-top: 2rem; }
  body .contenedor .nosotros figure img {
    border-radius: 0.5rem; }
  body .contenedor .nosotros p {
    margin-top: 2.4rem;
    text-align: justify; }
  body .contenedor .nosotros .act {
    display: grid;
    row-gap: 0.6rem;
    column-gap: 0.6rem;
    grid-template-columns: 1fr;
    list-style: none;
    margin-top: 1.92rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem; }
    body .contenedor .nosotros .act li {
      border-radius: 0.2rem;
      background-color: #DB1822;
      text-align: center;
      padding: 1.25rem;
      transition: 0.3s; }
      body .contenedor .nosotros .act li a {
        text-decoration: none;
        color: #F9F2ED; }
    body .contenedor .nosotros .act li:hover {
      background-color: #303030;
      color: #F9F2ED; }

.nos-btn {
  display: block;
  width: 20rem;
  text-align: center;
  margin-top: 2rem; }

@media screen and (min-width: 768px) {
  body .contenedor .nosotros {
    margin-left: 0;
    margin-right: 0; }
    body .contenedor .nosotros figure img {
      margin-top: 1.5rem; }
    body .contenedor .nosotros p {
      margin-top: 0;
      text-align: left; }
    body .contenedor .nosotros .act {
      grid-template-columns: 1fr 1fr; }
      body .contenedor .nosotros .act li {
        border-radius: 0.2rem;
        text-align: center;
        padding: 1.25rem;
        transition: 0.3s; }
        body .contenedor .nosotros .act li a {
          text-decoration: none; }
      body .contenedor .nosotros .act li:hover {
        background-color: #303030;
        color: #F9F2ED; } }

@media screen and (min-width: 1032px) {
  body .contenedor .nosotros figure img {
    margin-top: 0; }
  body .contenedor .nosotros .act {
    grid-template-columns: 1fr 1fr; }
    body .contenedor .nosotros .act li {
      border-radius: 0.2rem;
      text-align: center;
      padding: 3rem; }
      body .contenedor .nosotros .act li a {
        text-decoration: none; } }

.contenedor .row .actividades, body .contenedor .hero .actividades, body .contenedor .nosotros .actividades {
  max-width: 1200px;
  padding-top: 4.5em;
  padding-left: 1.2rem;
  color: #F9F2ED;
  background-color: #303030;
  border-bottom: #303030 1rem solid;
  border-top: #303030 1rem solid;
  width: 100%; }
  .contenedor .row .actividades div, body .contenedor .hero .actividades div, body .contenedor .nosotros .actividades div {
    margin-top: 2.4rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    justify-content: center; }
    .contenedor .row .actividades div a, body .contenedor .hero .actividades div a, body .contenedor .nosotros .actividades div a {
      margin-right: 0.8rem;
      margin-top: 1rem; }

.contenedor .row .fotos_act, body .contenedor .hero .fotos_act, body .contenedor .nosotros .fotos_act {
  background: url(../img/background.png);
  width: 100%;
  text-align: center; }
  .contenedor .row .fotos_act img, body .contenedor .hero .fotos_act img, body .contenedor .nosotros .fotos_act img {
    margin-bottom: -0.3rem; }

@media screen and (min-width: 768px) {
  .contenedor .row .actividades, body .contenedor .hero .actividades, body .contenedor .nosotros .actividades {
    padding-top: 4em;
    padding-left: 1.2rem;
    color: #F9F2ED;
    background-color: #303030;
    border-bottom: #303030 1rem solid;
    border-top: #303030 1rem solid;
    width: 50%; }
    .contenedor .row .actividades div, body .contenedor .hero .actividades div, body .contenedor .nosotros .actividades div {
      justify-content: flex-start; }
      .contenedor .row .actividades div a, body .contenedor .hero .actividades div a, body .contenedor .nosotros .actividades div a {
        margin-right: 0.8rem;
        margin-left: 1rem;
        margin-top: 1rem; }
    .contenedor .row .actividades div, body .contenedor .hero .actividades div, body .contenedor .nosotros .actividades div,
    .contenedor .row .actividades p,
    body .contenedor .hero .actividades p,
    body .contenedor .nosotros .actividades p,
    .contenedor .row .actividades h2,
    body .contenedor .hero .actividades h2,
    body .contenedor .nosotros .actividades h2 {
      margin-left: 3.6rem; }
  .contenedor .row .fotos_act, body .contenedor .hero .fotos_act, body .contenedor .nosotros .fotos_act {
    border-bottom: #303030 1rem solid;
    border-top: #303030 1rem solid;
    width: 50%; }
    .contenedor .row .fotos_act img, body .contenedor .hero .fotos_act img, body .contenedor .nosotros .fotos_act img {
      margin-bottom: -0.3rem; }
  .orden1 {
    order: 1; }
  .orden2 {
    order: 2; }
  .orden3 {
    order: 3; }
  .orden4 {
    order: 4; }
  .orden5 {
    order: 5; }
  .orden6 {
    order: 6; }
  .orden7 {
    order: 7; }
  .orden8 {
    order: 8; } }

@media screen and (min-width: 800px) {
  .contenedor .row .actividades, body .contenedor .hero .actividades, body .contenedor .nosotros .actividades {
    padding-top: 13%; } }

.tabla {
  text-align: center;
  display: block;
  overflow-x: auto; }
  .tabla thead {
    width: 100%; }
    .tabla thead tr th {
      padding: 1rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      color: #F9F2ED;
      background-color: #303030; }
  .tabla tbody {
    width: 100%; }
    .tabla tbody tr td {
      padding: 1rem;
      color: #F9F2ED;
      background-color: #DB1822;
      padding-top: 2rem;
      padding-bottom: 2rem; }
    .tabla tbody tr .time {
      color: #F9F2ED;
      background-color: #303030; }

.btn-cont {
  width: 100%;
  margin: 1.5rem;
  text-align: center;
  height: 5rem; }

.btn-download {
  width: 100%;
  display: inline-block; }

.btn-extra {
  display: inline-block;
  margin: 1.5rem;
  margin-left: 0; }

.width {
  width: 100%;
  display: inline-block;
  text-align: left;
  margin-top: .5rem;
  margin-bottom: 3rem;
  padding: 3rem;
  color: #F9F2ED;
  border-radius: 0.5rem;
  background-color: #303030; }

@media screen and (min-width: 768px) {
  .tabla {
    display: table;
    margin: auto; }
  .width {
    width: 49.8%;
    text-align: center; } }

.en_merch {
  margin-top: 3rem; }

.btn-merch {
  margin: 0; }

.merch-grid {
  margin: auto;
  margin-bottom: 3rem;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.4rem; }
  .merch-grid div a img {
    border-radius: 1rem;
    box-shadow: -3px 2px 19px -4px rgba(0, 0, 0, 0.17); }

.prod-p {
  margin-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem; }

@media screen and (min-width: 768px) {
  .merch-grid {
    grid-template-columns: 1fr 1fr; } }

@media screen and (min-width: 1200px) {
  .merch-grid {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2.4rem; } }

.input, textarea {
  width: 100%;
  margin-top: 1.2rem;
  font-size: 1.6em; }

textarea {
  resize: none; }

iframe {
  width: 100%;
  height: 40vh; }

.btn-input {
  width: 100%; }

@media screen and (min-width: 768px) {
  .encabezado {
    text-align: center; }
  .parrafo {
    text-align: center; }
  form {
    width: 60%;
    margin: auto; } }

@media screen and (min-width: 1200px) {
  form {
    width: 40%; } }
