// ------ Colores ------ //

$dark: #303030;
$light: #F9F2ED;
$red: #DB1822;

// ------ Tamaño de Texto ------ //

$titulo: 2.5em;
$subtitulo: 2em;
$parrafo: 1.6em;

.p {
    font-size: $parrafo;
}

.subtit {
    font-size: $subtitulo;
}

.tit {
    font-size: $titulo;
}

// ------ bold ------ //

.bold {
    font-weight: bold;
}